%div.errors
  = draw_flash_messages
.row.form-container
  .span2
    %h3
      = t("labels.purchases")
    = t("labels.date")
    = text_field_tag "purchase[purchase_date]", purchase.purchase_date.try(:strftime, "%d/%m/%Y"), :'data-href' => purchase_path(purchase), :'data-method' => :put, class: "input-small"
  .span2
    %h3
      = t("labels.kind")
    = select_tag "purchase[kind]", options_for_select(Purchase::KIND.invert, purchase.kind), :'data-href' => purchase_path(purchase), :'data-method' => :put, class: "input-medium"
  .span2
    %h3
      = t("labels.number")
    = text_field_tag "purchase[number]", purchase.number, :'data-href' => purchase_path(purchase), :'data-method' => :put, class: "input-medium"
  .span3
    %h3
      = t("labels.comment")
    = text_field_tag "purchase[comment]", purchase.comment, :'data-href' => purchase_path(purchase), :'data-method' => :put
= draw_purchase_table(purchase, @item)
.clearfix
  .pull-right
    = link_to t("labels.back"), purchases_url, :class => "button alternative"
    = link_to t("labels.finish"), purchases_url, :class => "button"
#search-results
