%p.select-task
  = t("labels.edit_sku")
.row
  .span5.offset2
    = simple_form_for sku, url: sku_path(sku), html: { class: "form-horizontal", method: :put } do |f|
      = f.input :active, as: :boolean
      = f.input :code, input_html: { class: "input-medium" }
      = f.input :name, input_html: { class: "input-large" }
      = f.input :quantity, input_html: { class: "input-medium" }
      = f.input :unit_price, input_html: { class: "input-medium" }
      .control-group
        .controls.right
          = link_to t("labels.back"), request.referer || skus_url, :class => "button alternative"
          = link_to t("labels.update"), "javascript:;", :class => "button submit-this"
