.form-login
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-inline', :method => :post }) do |f|
    .errors
      = draw_errors resource
    = f.label :email, t("labels.email"), :class => "login-title"
    = f.email_field :email, :placeholder => t("labels.enter_your_email"), :class => "input-xlarge xlarge"
    %br
    %br
    .clearfix
      .action
        = f.submit t("labels.send"), :class => "button button-large"
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
.pull-right
  = link_to "&laquo; #{t("labels.sign_in")}".html_safe, new_session_path(resource_name)
