%div.errors
  = draw_flash_messages

.row.form-container
  .span2
    %h3
      = t("labels.sales")
    = t("labels.customer")
    %span.info
      = sale.customer_name
    %br
    = t("labels.date")
    = text_field_tag "sale[sale_date]", sale.sale_date.try(:strftime, "%d/%m/%Y"), :'data-href' => sale_path(sale), :'data-method' => :put, class: "input-small"
  .span2
    %h3
      = t("labels.kind")
    = select_tag "sale[kind]", options_for_select(Sale::KIND.invert), :'data-href' => sale_path(sale), :'data-method' => :put, class: "input-medium"
  .span2
    %h3
      = t("labels.number")
    = text_field_tag "sale[number]", sale.number, :'data-href' => sale_path(sale), :'data-method' => :put, class: "input-medium"
  .span3
    %h3
      = t("labels.comment")
    = text_area :sale, :comment, value: sale.comment, data: { href: sale_path(sale), method: :put }, rows: 2

= draw_sale_table(sale, @item)
.clearfix
  .pull-right
    = link_to t("labels.back"), sales_url, :class => "button alternative"
    = link_to t("labels.finish"), sales_url, :class => "button"
#search-results
