.row
  .span3.center
    = link_to sales_reports_url do
      = image_tag("modules/bar-icon.png", :alt => "Ventas", :absmiddle => "center")
      %br
      Ventas
  .span3.center
    = link_to purchases_reports_url do
      = image_tag("modules/bar-icon.png", :alt => "Compras", :absmiddle => "center")
      %br
      Compras
  .span3.center
    = link_to inventories_reports_url do
      = image_tag("modules/bar-icon.png", :alt => "Inventarios", :absmiddle => "center")
      %br
      Inventarios
